<?xml version="1.0" encoding="UTF-8"?>
<manifest android:versionCode="1"
	package="com.naholyr.android.games.exitroute" xmlns:android="http://schemas.android.com/apk/res/android"
	android:versionName="@string/last_version" android:sharedUserId="@string/shared_user_id"
	android:sharedUserLabel="@string/shared_user_id">
	<application android:icon="@drawable/icon" android:label="@string/app_name">
		<activity android:label="@string/app_name" android:name=".activity.Main">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".activity.Game" />
		<activity android:name=".activity.Example" />
	</application>
</manifest>
